.plant-list{
  display: flex;
  align-self: center;
  text-align: center;
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 40px;
  

}
.plant-list-name{
  box-shadow: 0 0 3px 1px #cecece;
  transition: all 0.25s;
  width: 40vw;
  margin: 10px 10px 60px;
  border-radius: 20px;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

.plantImages{
  width: 300px;
  height:300px;
}
.plantsheader{
  text-align: center;
  color:#FF00A8;
}