.navbar{
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black;
  /* height: 20vh; */
  width: 100vw;
  
}

.navButtons{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 10px;
}
.linkup{
  color:black;
}

.nav-links-container{
display: flex;
flex-direction: column;
align-items:flex-end;
justify-content: flex-start;
align-content: flex-start;
}
.nav-items{
  display:flex;
  justify-content: center;
  
  /* align-items: flex-start; */
  text-align: left;
}
.nav-header{
  text-align: center;
  font-family: Spartan, sans-serif;
  font-size: large;
}
#mytitle{
  color: #3D9E10;
}
