.description{
  display: flex;
  justify-content: center;
  align-self: center;
margin: 90px;
margin-top: 150px;
  width: 80vw;
  border: 2px solid black;
}
button{
  background-color: transparent;
  border-radius: 20px;
  font-family: 'roboto mono', sans-serif;
}
body {
  font-family: 'roboto mono', sans-serif;
}