.detail-section{
  display: flex;
  align-self: center;
  text-align: center;
  flex-direction: column;
  margin: 100px auto;
  width: 75vw;
  padding: 5px;
}
.detailName{
  display: flex;
  align-self: center;
  font-size: large;
}
.detailedButtons{
  display: flex;
  align-self: center;
  justify-content: center;
  background-color: white;
  font-family: 'roboto mono', sans-serif;
}

.detailImage{  
  width: 400px;
  height: 450px;
  margin: auto;
  max-height: 90%;
  object-fit: contain;
}