.editPlantContainer{
display: flex;
justify-content: center;
display: flex;
flex-direction: column;
align-content: center;
text-align: center;

}
.editPlantForm{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.editPlantHeader{
  text-align: center;
  color:#FF00A8;
}
.editPlantInput{
  height: 30px;
  width: 300px;
  margin: 5px;
}
